* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.category__teaser__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
}
.category__teaser__container .category__teaser__card:hover {
  transform: scale(1.1);
}
