.wishlist__recipe__teaser {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: #000;
  transition: 1s ease-in-out;
  .wishlist__recipe__teaser__image {
    width: 100px;
    height: 100px;
    border-radius: 35px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .wishlist__recipe__teaser__details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    .wishlist__recipe__teaser__details__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .wishlist__recipe__teaser__category {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }
      .wishlist__recipe__teaser__title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .wishlist__recipe__teaser__details__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 160px;
      padding: 5px;
      .wishlist__teaser__stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5px;
        p {
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          font-weight: 600;
          padding: 2px;
        }
        img {
          width: 100%;
          max-width: 20px;
          height: auto;
        }
      }
    }
  }
  .wishlist__remove {
    width: 45px;
    transition: 0.3s;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
  }
  .wishlist__remove:hover {
    transform: scale(1.2);
  }
}
.border__bottom__none {
  border-bottom: 0;
}

@media screen and (max-width: 720px) {
  .wishlist__recipe__teaser {
    padding: 10px;
    .wishlist__recipe__teaser__details {
      flex-direction: column;
      padding: 0 10px;
      .wishlist__recipe__teaser__details__left {
        align-items: center;
      }
    }
  }
}
