.login__container {
  margin: 0 auto;
  padding: 50px 0;
  min-height: 100vh;

  .login__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    padding: 50px;
    position: relative;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      .login__buttons__action {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          transition: 0.3s;
        }
        button:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
.fade {
  opacity: 1;
}

@media screen and (max-width: 720px) {
  .login__container {
    background: none !important;
    .login__content {
      width: 90%;
      padding: 50px 20px;
    }
  }
}
