.profile__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border: 1px solid #eee;
  border-radius: 50%;
  transition: 0.3s;
  img {
    padding: 7px;
    width: 100%;
  }
}
.profile__icon:hover {
  transform: scale(1.05);
}

.menu__opener {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 25px;
  img {
    width: 100%;
    max-width: 30px;
    height: auto;
    border-radius: 50px;
  }
  p {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    margin: 0 10px 0;
    padding: 0;
  }
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 70px !important;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text {
  border: none !important;
  outline: none !important;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
  min-width: 150px;
  padding: 0;
}

.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root {
  justify-content: center;
}
.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  padding: 15px 20px;
  min-height: 0;
}

@media screen and (max-width: 720px) {
  .menu__opener {
    padding: 0;
    p {
      display: none;
    }
    img {
      max-width: 40px;
    }
  }

  .MuiList-root.MuiMenu-list.MuiList-padding {
    min-width: 100px;
  }
  .MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    padding: 7px 10px;
  }
}
