.add__recipe__container {
  background: #ddd;
  width: 100%;
  max-width: 720px;
  margin: 50px auto;
  padding: 50px;
}
.form__field {
  margin-top: 50px;
  .form__label {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
  }
  .form__input {
    width: 100%;
    min-height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e8e8e8;
    padding: 10px;
    background-color: #fff;
  }
  .add__ingredient, .add__image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      // flex: 0.85;
      margin-right: 10px;
    }
    img {
      width: 30px;
      height: auto;
    }
  }
}
