* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.recipe__page {
  width: 100%;
  max-width: 1400px;
  margin: 200px auto 0 auto;
}
.breadcrumb__menu__container {
  width: 100%;
  .breadcrumb__menu {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    span {
      margin: 0 20px;
      transition: 0.2s;
      a {
        text-decoration: none;
      }
    }
    .breadcrumb__active__link {
      color: #e78300;
    }
    span:hover > a {
    }
  }
}
.recipe__page__container {
  width: 100%;
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  .recipe__page__image {
    img {
      width: 400px;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
    }
  }
  .recipe__page__content {
    padding: 30px;
    width: calc(100% - 400px);
    .recipe__page__tab__header {
      display: flex;
      align-items: center;
      div {
        width: calc(100% / 2);
        text-align: center;
        span img {
          width: 40px;
        }
        p {
          font-weight: bold;
          color: #3b3b3b;
          text-transform: uppercase;
          font-size: 15px;
          margin-top: 10px;
          cursor: pointer;
          outline: none;
          margin-bottom: 0;
        }
      }
      .active > p {
        color: #00acee;
      }
    }
    .recipe__page__tab__indicator {
      position: relative;
      width: calc(100% / 4);
      margin-top: 20px;
      height: 3px;
      background: #00acee;
      left: calc(100% / 8);
      border-radius: 5px;
    }
    .recipe__page__tab__body {
      position: relative;
      margin-top: 10px;
      .recipe__page__tab__body__info {
        position: absolute;
        top: -200%;
        opacity: 0;
        margin: auto 0;
        transform: scale(0.9);
        transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s;
        overflow-x: hidden;
        overflow-y: auto;
        height: 420px;
        z-index: 1;
        h2 {
          margin-left: 30px;
        }
        .recipe__description__container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 30px;
          .recipe__ingredients__container {
            width: 50%;
            align-self: flex-start;
            margin-top: 30px;
            .ingredients__list {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: wrap;
              .ingredient__pair {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-right: 30px;
                margin-bottom: 10px;
                width: 150px;
                input {
                  margin: 10px 10px 10px 0px;
                }
                p {
                  margin-bottom: 0px !important;
                }
                .ingredient__name {
                  font-size: 15px;
                  text-transform: capitalize;
                  font-weight: bold;
                  color: #00acee;
                  margin: none !important;
                }
              }
              .ingredient-active {
                text-decoration-line: line-through;
              }
            }
          }
          .recipe__description__content {
            border-radius: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            padding: 10px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .recipe__title__subtitle {
              text-align: center;
              h2 {
                margin: 10px;
              }
              p {
                width: 75%;
                margin: 10px auto;
              }
            }
            .recipe__cal__dif__prep__information {
              display: flex;
              align-items: center;
              justify-content: space-around;
              div {
                padding: 10px 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                p {
                  font-weight: bold;
                  text-transform: uppercase;
                  color: #e78300;
                  font-size: 12px;
                }
              }
              div img {
                width: 30px;
                height: auto;
                margin-bottom: 15px;
              }
            }
            .recipe__add__to__wishlist {
              button {
                padding: 5px 15px;
                outline: none;
                background: #00acee;
                color: #fff;
                font-size: 15px;
                border-radius: 30px;
                border: none;
                transition: 0.2s;
                margin-bottom: 10px;
              }
              button:hover {
                background: #00abeeb0;
              }
            }
          }
        }
      }
      .active {
        top: 0;
        opacity: 1;
        transform: scale(1);
        z-index: 10;
      }
    }
  }
}
