.admin__dashboard {
  display: flex;
  height: 100vh;
  .admin__left__panel {
    width: 20%;
    background: #eee;
    border-right: 1px solid #ddd;
  }
  .admin__right__panel {
    width: 80%;
    background: #555;
    padding: 50px;
    .admin__recipe__table {
      background: #eee;
      width: 100%;
      padding: 30px;
    }
    .admin__category__recipe__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .admin__category__table {
        background: #eee;
        width: 50%;
        padding: 30px;
        margin-right: 50px;
      }
      .admin__ingredient__table {
        background: #eee;
        width: 50%;
        padding: 30px;
      }
    }
  }
}
.admin__buttons__container {
  display: flex;
  div {
    padding: 10px;
    border: 1px solid red;
  }
}
.admin__buttons__container:nth-last-child() {
  margin-left: 20px;
}
