.navigation {
  width: 100%;
  padding: 10px 200px;
  background: rgba(255, 255, 255, 0.9);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .logo__container {
    font-size: 20px;
    font-weight: bold;
    img {
      width: 70px;
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: 1040px) {
  .navigation {
    padding: 10px 50px;
  }
}

@media screen and (max-width: 480px) {
  .navigation {
    padding: 10px;
  }
}
